body{
    background-color: rgb(208, 234, 234);
    color:#0c0c0c;
    font: normal 16px Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.button{
    background-color: #bab7b7;
    color: #fff;
    padding: 10px 15px;
    border:none;
}

.container{
    width: 400px;
    margin:auto;
    max-width: 955px;
    color: #414444;
    background: #ddd9e0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height:auto;
    padding: 2px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #ff0202;
}

a:hover{
    color: rgb(143, 58, 217);
}

a:active{
    color: green;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;   
}

.my-form lebel{
     display: block; /*This will shift input on next line */
}

.my-form input{
    padding: 8px;
    width:100%;
}

p{
    color: #7e7c7c;
    padding: 5px;
    padding-left: 0px;
}

.logout-div{
    position: absolute;
    right: 2px;
}

.user-group{
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}
.user-group h2{
    color: #565454;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.user-group .hint-text{
    color: #7e7c7c;
    margin-bottom: 30px;
    text-align: center;
}
.user-group form{
    color: #414444;
    background: #ddd9e0;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.user-group .form-group{
    margin-bottom: 20px;
}
.user-group input[type="checkbox"]{
    margin-top: 3px;
}
.user-group .btn{        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}

.user-group form a{
    color: #5cb85c;
    text-decoration: none;
}	
.user-group form a:hover{
    text-decoration: underline;
}

.group-name,
.other-group-name{
    text-align: center;
    font-size: medium;
    color: #636363;
    font-weight: 600;
    margin-bottom: 10px;
}

.group-name:hover,
.other-group-name:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.centered-form__box {
    color: #414444;
    background: #ddd9e0;
    box-shadow: 0 0 0 1px #585a61;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
}

.msg-chat {
    margin-bottom: 20px;
}